:root{
  --primaryColor: brown;
  --textColor: white;
}

*{
  margin: 0;
 
}

body {
  background: black;
  font-size: 1.5rem;
}

.global {
  color: green;
  text-transform: capitalize;
}

.first {
  letter-spacing: 5px;
  color: var(--primaryColor);
}

.second {
  text-transform: uppercase;
  color: var(--primaryColor);
}