:root{
  --primaryColor: brown;
  --textColor: white;
  --pdg: 0px;
  --mrg: 0px
}

*{
  margin: 0;
  box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@100;200;300&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  background: rgb(240,238,228);
}

.global {
  color: green;
  text-transform: capitalize;
}

.first {
  letter-spacing: 5px;
  color: var(--primaryColor);
}

.second {
  text-transform: uppercase;
  color: var(--primaryColor);
}

.gridWrapper {
  
  display: flex;
  flex-wrap: wrap;
  
  
  align-content: flex-start;
  align-items:stretch;
}

.red {
  background: #dc2f02;
  border: 5px solid black;
  padding: var(--pdg);
  margin: var(--mrg);
}

.yellow {
  background: #ffba08;
  border: 5px solid black;
  padding: var(--pdg);
  margin: var(--mrg);
}

.blue{
  background: #023e8a;
  border: 5px solid black;
  padding: var(--pdg);
  margin: var(--mrg);
}

.white{
  background: white;
  border: 5px solid black;
  padding: var(--pdg);
  margin: var(--mrg);
}

.title {
  text-align: center;
  margin: 2rem;
  margin-top: 4rem;
  font-weight: 100;
  font-size: 5rem;
}

.sizeDiv {
  margin: 0 auto;
  height: 500px;
  width: 500px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.paint {
  text-align: center;
  display: flex;
  justify-content: center;
}

.buttonWrapper {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  padding: 0.5rem;
  margin: 1rem;
  margin-bottom: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  cursor: pointer;
  background: transparent;
}

.felx {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.frame {
  height: 540px;
  width: 540px;
  border: 20px solid white;
  position: relative;
  top: -20px;
  left: -20px;
}

.blackFrame {
  height: 545px;
  width: 545px;
  border: 12px solid black;
  position: relative;
  top: -23px;
  left: -23px;
}

