:root{
  --primaryColor: brown;
  --textColor: white;
  --pdg: 0px;
  --mrg: 0px
}

*{
  margin: 0;
  box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


body {
  font-family: 'Great Vibes', cursive;
  font-size: 1.5rem;
}

.global {
  color: green;
  text-transform: capitalize;
}

.first {
  letter-spacing: 5px;
  color: var(--primaryColor);
}

.second {
  text-transform: uppercase;
  color: var(--primaryColor);
}

.gridWrapper {
  
  display: flex;
  flex-wrap: wrap;
  
  
  align-content: flex-start;
  align-items:stretch;
}

.red {
  background: #dc2f02;
  border: 5px solid black;
  padding: var(--pdg);
  margin: var(--mrg);
}

.yellow {
  background: #ffba08;
  border: 5px solid black;
  padding: var(--pdg);
  margin: var(--mrg);
}

.blue{
  background: #023e8a;
  border: 5px solid black;
  padding: var(--pdg);
  margin: var(--mrg);
}

.white{
  background: white;
  border: 5px solid black;
  padding: var(--pdg);
  margin: var(--mrg);
}

.title {
  text-align: center;
  margin: 5rem;
  font-weight: 100;
  font-size: 5rem;
}

.sizeDiv {
  margin: 0 auto;
  height: 600px;
  width: 600px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.paint {
  text-align: center;
  display: flex;
  justify-content: center;
}

.buttonWrapper {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  padding: 0.5rem;
  margin: 1rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}